<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<groups>
	<run>
		<include name="Sanity"/>
		<include name="Regression"/>
		<!--<include name="Sanity">-->
	</run>
</groups>
    <classes>
      <class name="pckg1.AnnotationExample"/>
      <class name="pckg1.HomePageTest"/>
      <class name="pckg2.CheckoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
